[workspace]
authors = ["Daniel Duberg <danielduberg@gmail.com>"]
name = "dd2419_ws"
channels = [
	"https://prefix.dev/pixi-build-backends",
	"https://prefix.dev/conda-forge",
	"https://prefix.dev/robostack-jazzy",
]
platforms = [
  "osx-arm64",
  "win-64",
  "linux-64",
]
version = "1.0.0"
preview = ["pixi-build"]

[tasks]
executors_1 = { cmd = "ros2 run learning_tf2_py executors" }
executors_2 = { cmd = "ros2 service call /first_srv example_interfaces/srv/AddTwoInts" }
executors_3 = { cmd = "ros2 service call /second_srv example_interfaces/srv/AddTwoInts" }

[dependencies]
# ROS
ros2-distro-mutex = ">=0.12,<0.13"
ros-jazzy-ros2run = ">=0.32.6,<0.33"
ros-jazzy-rviz2 = ">=14.1.16,<15"
ros-jazzy-tf2-ros = ">=0.36.15,<0.37"
ros-jazzy-tf2-tools = ">=0.36.15,<0.37"
ros-jazzy-turtlesim = ">=1.8.3,<2"

# Course packages
ros-jazzy-robp-boot-camp-launch = { path = "src/robp_boot_camp/robp_boot_camp_launch" }
ros-jazzy-robp-interfaces = { path = "src/robp_robot/robp_interfaces" }

# Aruco
ros-jazzy-aruco = { path = "src/aruco_ros/aruco" }
ros-jazzy-aruco-msgs = { path = "src/aruco_ros/aruco_msgs" }
ros-jazzy-aruco-ros = { path = "src/aruco_ros/aruco_ros" }

# Boot camp part 1
ros-jazzy-learning-tf2-py = { path = "src/learning_tf2_py" }

# Boot camp part 2
ros-jazzy-odometry = { path = "src/odometry" }
ros-jazzy-display-markers = { path = "src/display_markers" }

# Boot camp part 3
ros-jazzy-detection = { path = "src/detection" }

[activation.env]
ROS_AUTOMATIC_DISCOVERY_RANGE = "LOCALHOST"

[target.osx.activation.env]
# Required for the RVIZ2 to properly startup on osx
RMW_IMPLEMENTATION = "rmw_cyclonedds_cpp"
