[workspace]
authors = ["Daniel Duberg <danielduberg@gmail.com>"]
name = "dd2419_ws"
channels = [
	"https://prefix.dev/pixi-build-backends",
	"https://prefix.dev/conda-forge",
	"https://prefix.dev/robostack-jazzy",
]
platforms = [
  "osx-arm64",
  "win-64",
  "linux-64",
]
version = "1.0.0"
preview = ["pixi-build"]

[tasks]
executors_1 = { cmd = "ros2 run learning_tf2_py executors" }
executors_2 = { cmd = "ros2 service call /first_srv example_interfaces/srv/AddTwoInts" }
executors_3 = { cmd = "ros2 service call /second_srv example_interfaces/srv/AddTwoInts" }

# [tasks.download_rosbags]
# cmd = '''
# curl -fSL "https://canvas.kth.se/courses/59505/files/9801928/download?download_frd=1" -O boot_camp.zip
# && tar -xzf boot_camp.zip -C bags
# '''
# outputs = [
# 	"bags/boot_camp.db3",
# 	"bags/metadata.yaml",
# 	"bags/reliability_override.yaml",
# ]

[dependencies]
# ROS
ros-jazzy-ros2run = ">=0.32.6,<0.33"

# Course packages
ros-jazzy-robp-boot-camp-launch = { path = "src/robp_robot/robp_boot_camp/robp_boot_camp_launch" }
ros-jazzy-robp-interfaces = { path = "src/robp_robot/robp_interfaces" }

# Aruco
ros-jazzy-aruco = { path = "src/robp_robot/aruco_ros/aruco" }
ros-jazzy-aruco-msgs = { path = "src/robp_robot/aruco_ros/aruco_msgs" }
ros-jazzy-aruco-ros = { path = "src/robp_robot/aruco_ros/aruco_ros" }

# Boot camp part 1
ros-jazzy-learning-tf2-py = { path = "src/learning_tf2_py" }

# Boot camp part 2
ros-jazzy-odometry = { path = "src/odometry" }
ros-jazzy-display-markers = { path = "src/display_markers" }

# Boot camp part 3
ros-jazzy-detection = { path = "src/detection" }